# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# React Native / Expo
node_modules/
.expo/
dist/
npm-debug.*
yarn-error.*

# iOS
ios/Pods/
*.xcworkspace
DerivedData/

# Android
*.apk
*.aab
.gradle/
local.properties

# General
.DS_Store
Thumbs.db
.env
.vscode/
.idea/
